body {
	margin: 0px;	
}
a:link {
color:#66FFFF;
	font-family:ו;
	font-size:16px;
	text-decoration: none;
}
a:active {
	color: #FFFF33;
	font-family:ו;
    font-size:16px;
		text-decoration: none;
}
a:visited {
color:#FFFFFF;
	font-family:ו;
    font-size:16px;
	text-decoration: none;
}
a:hover {
color:#FFFF00;
	font-family:"·";
	font-size:18px;
	font-weight: bold;
		text-decoration: none;
}


