<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unicom.conferenceroom.dao.dervice.DerviceDao" >

    <resultMap id="BaseResultMap" type="com.unicom.conferenceroom.entity.dervice.Dervice" >
        <id column="dervice_id" property="derviceId" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="input_time" property="inputTime" jdbcType="DATE" />
        <result column="scrap_time" property="scrapTime" jdbcType="DATE" />
        <result column="confenerce_room" property="confenerceRoom" jdbcType="VARCHAR" />
        <result column="principal" property="principal" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
    </resultMap>


    <sql id="Base_Column_List" >
        dervice_id, name, type, input_time, scrap_time, confenerce_room, principal, status
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from dervice
        where dervice_id = #{derviceId,jdbcType=INTEGER}
    </select>


    <select id="queryDervice" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject" >
        select
        dervice_id as derviceId,
        name as name,
        type as type,
        input_time as inputTime,
        scrap_time as scrapTime,
        confenerce_room as confenerceRoom,
        principal as principal,
        status as status
        from dervice
        where 1=1
        <if test="derviceId != null and derviceId !=''">
            and dervice_id= #{derviceId}
        </if>
        <if test="name != null and name !=''" >
            and name= #{name}
        </if>
        <if test="type != null and type !=''" >
            and type= #{type}
        </if>
        <if test="inputTime != null and inputTime !=''" >
            and input_time= #{inputTime}
        </if>
        <if test="scrapTime != null and scrapTime !=''" >
            and input_time= #{scrapTime}
        </if>
        <if test="confenerceRoom != null and confenerceRoom !=''" >
            and confenerce_room= #{confenerceRoom}
        </if>
        <if test="principal != null and principal !=''" >
            and principal= #{principal}
        </if>
        <if test="status != null and status !=''" >
            and status= #{status}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from dervice
        where dervice_id = #{derviceId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.unicom.conferenceroom.entity.dervice.Dervice" >
        insert into dervice (dervice_id, name, type,
            input_time, scrap_time, confenerce_room,
            principal, status)
        values (#{derviceId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
            #{inputTime,jdbcType=DATE}, #{scrapTime,jdbcType=DATE}, #{confenerceRoom,jdbcType=VARCHAR},
            #{principal,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.unicom.conferenceroom.entity.dervice.Dervice" >
        insert into dervice
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="derviceId != null" >
                dervice_id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="inputTime != null" >
                input_time,
            </if>
            <if test="scrapTime != null" >
                scrap_time,
            </if>
            <if test="confenerceRoom != null" >
                confenerce_room,
            </if>
            <if test="principal != null" >
                principal,
            </if>
            <if test="status != null" >
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="derviceId != null" >
                #{derviceId,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="inputTime != null" >
                #{inputTime,jdbcType=DATE},
            </if>
            <if test="scrapTime != null" >
                #{scrapTime,jdbcType=DATE},
            </if>
            <if test="confenerceRoom != null" >
                #{confenerceRoom,jdbcType=VARCHAR},
            </if>
            <if test="principal != null" >
                #{principal,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.unicom.conferenceroom.entity.dervice.Dervice" >
        update dervice
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="inputTime != null" >
                input_time = #{inputTime,jdbcType=DATE},
            </if>
            <if test="scrapTime != null" >
                scrap_time = #{scrapTime,jdbcType=DATE},
            </if>
            <if test="confenerceRoom != null" >
                confenerce_room = #{confenerceRoom,jdbcType=VARCHAR},
            </if>
            <if test="principal != null" >
                principal = #{principal,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where dervice_id = #{derviceId,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.unicom.conferenceroom.entity.dervice.Dervice" >
        update dervice
        set name = #{name,jdbcType=VARCHAR},
            type = #{type,jdbcType=VARCHAR},
            input_time = #{inputTime,jdbcType=DATE},
            scrap_time = #{scrapTime,jdbcType=DATE},
            confenerce_room = #{confenerceRoom,jdbcType=VARCHAR},
            principal = #{principal,jdbcType=VARCHAR},
            status = #{status,jdbcType=VARCHAR}
        where dervice_id = #{derviceId,jdbcType=INTEGER}
    </update>
</mapper>